.overlogo{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(175, 175, 175);
    margin-left: 10%;
    margin-top: 15%;

}

.yyrr{
    margin-top: 35%;
    margin-left: 10%;
}   

.h1s{
    font-weight: bolder;
    color: rgb(206, 206, 206);
}

.childp{
    color: rgb(134, 134, 134);
}
.mt-7{
    margin-top: 7.25rem;
}